<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a recipe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add new recipe!</h1>
    <form action="/recipes" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" required /><br />
        <label for="instructions">Instructions</label>
        <textarea name="instructions"></textarea><br />
        <label for="ingredients">Ingredients</label>
        <ul>
        <% ingredients.forEach(ingredient => { %>
        <%= ingredient.name %>
        <input type="checkbox" name="ingredients" value="<%= ingredient._id %>"/>
        <br />
        <% }) %>
        </ul>
        <button type="submit">Add Recipe</button>
    </form>
</body>
</html>
